/* TODO: less or scss*/

body {
    background-color: lightgray;
}

.btn-info {
    background-color: #edf1fc;
    color: #17a2b8;
}

.exchange-rates-container {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.exchange-rates-list-card {

}
.exchange-rates-header {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
}

.exchange-rates-position {
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.list-group-item-action {
    cursor: pointer;

    transition: max-height 0.2s ease-out;
}

.exchange-rates-position h4, .exchange-rates-position h5 {
    margin-top: 20px;
}

.exchange-rates-position h5 {
    font-weight: bold;
}

.exchange-rates-position .header {
    font-weight: bold;
}

.exchange-rates-position-sub {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    color: #565656;
    opacity: 0; /* Ukryte na starcie */
    max-height: 0; /* Brak miejsca */
    overflow: hidden; /* Ukrycie zawartości */
    transition: opacity 1s ease-in, max-height 0.5s ease-out;
}

.exchange-rates-position-sub.visible {
    opacity: 1; /* Widoczne */
    max-height: 200px; /* Maksymalna wysokość */
}

.exchange-rates-position-sub .date {
    font-size: 16px;
    text-align: right;
}

.exchange-rates-date-picker {
    font-size: 17px;
    appearance: none;
    -webkit-appearance: none; /* Dla WebKit */
    -moz-appearance: none;
    text-align: center;
    font-weight: bold;
    color: #17a2b8 !important;
    background-color: #edf1fc;
}

.exchange-rates-date-picker::-webkit-datetime-edit-year-field,
.exchange-rates-date-picker::-webkit-datetime-edit-month-field,
.exchange-rates-date-picker::-webkit-datetime-edit-day-field {
    color: #17a2b8;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #17a2b8;
}

.exchange-rates-date-picker:focus {
    box-shadow: none;
    background-color: #edf1fc;
    border: 1px solid #ced4da;
}

.exchange-rates-calculator-card {
    margin-top: 50px;

}

.exchange-rates-calculator-card .input-group-prepend > label {
    width: 100px;
}