/* TODO: less or scss*/

body {
    background-color: lightgray;
}

.exchange-rates-container {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.exchange-rates-position {
    text-align: center;
    vertical-align: middle;
}

.exchange-rates-position h4, .exchange-rates-position h5 {
    margin-top: 20px;
}

.exchange-rates-position h5 {
    font-weight: bold;
}

.exchange-rates-position .header {
    font-weight: bold;
}