/* TODO: less or scss*/

body {
    background-color: lightgray;
}

.exchange-rates-container {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.exchange-rates-list-card {

}
.exchange-rates-header {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
}

.exchange-rates-position {
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.list-group-item-action {
    cursor: pointer;

    transition: max-height 0.2s ease-out;
}

.exchange-rates-position h4, .exchange-rates-position h5 {
    margin-top: 20px;
}

.exchange-rates-position h5 {
    font-weight: bold;
}

.exchange-rates-position .header {
    font-weight: bold;
}

.exchange-rates-position-sub {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    color: #565656;
}

.exchange-rates-position-sub .date {
    font-size: 16px;
    text-align: right;
}